<div class="wrapper">
  <h1>List of products</h1>
  <div class="product-card-container">
    <mat-card
      (click)="onCardClick(product.id)"
      class="product-card"
      *ngFor="let product of products$ | async"
    >
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
      </mat-card-header>
      <img
        priority
        mat-card-image
        [src]="product.thumbnail"
        width="200"
        height="180"
        [attr.alt]="product.title"
      />

      <p>{{ product.description }}</p>
      <p>{{ product.price | price }}</p>
    </mat-card>
  </div>
</div>
