.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;

  .header-container-left,
  .header-container-center,
  .header-container-right {
    flex: 1;
  }
  .header-container-left {
    /* Styles for the left section (20%) */
    flex: 0 0 30%;
  }

  .header-container-center {
    /* Styles for the center section (60%) */
    flex: 0 0 30%;
  }

  .header-container-right {
    /* Styles for the right section (20%) */
    flex: 0 0 40%;
  }
  input {
    width: 100%;
    height: 90%;
    min-height: 90%;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 2px;
  }
}
